<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXtyN660l8dwinrUXFUM7HhyR5w-ul644</string>
	<key>GCM_SENDER_ID</key>
	<string>852167888826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islamrzayev.InstaCloneFirebaseSecond</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebasesecond-9569d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebasesecond-9569d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852167888826:ios:78ec94159f37a90a2d5783</string>
</dict>
</plist>